@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --primary-color: #463333;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #fff0f0;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 25px;
}

.money-img {
  width: 400px;
  height: 300px;
}

h1 {
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 15px;
}

.currency {
  margin: 30px 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

select {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;

  /* -moz-appearance: none; // to remove default enabled
  -webkit-appearance: none;
  appearance: none; */
}

input {
  font-size: large;
  text-align: right;
  border-radius: 5px;
  background: transparent;
}

.rate {
  color: var(--primary-color);
  font-size: 15px;
  padding: 8px 20px;
  float: right;
  width: 225px;
  text-align: right;
}

@media (max-width: 600px) {
  .container {
    width: 350px;
  }
  .money-img {
    width: 200px;
    height: 150px;
  }
  h1 {
    color: var(--primary-color);
    font-size: 25px;
  }
}
